extends ../layouts/default

block css
  link(rel='stylesheet', href='/styles/default.css')
  link(rel='stylesheet', href='/styles/denuncia.css')

block content
  h1 Estoy en denuncia

block js
  script(src="/js/denuncia.js")
