extends ../layouts/default

block css
  link(rel='stylesheet', href='/styles/default.css')
  link(rel='stylesheet', href='/styles/denuncia.css')

block content
  .section(class='divider', id='divider_alac')
  .section(class='s1')
    .col-2
      .text
        h3 CENTRO DE
        h3.slim ASESORÍA LEGAL
        h4 ANTICORRUPCIÓN
        .paragraph
          p ALAC es un servicio ciudadano de asesoría legal gratuita y confidencial que se brinda a las personas que deseen denunciar presuntos casos de corrupción. Sigue las indicaciones a continuación para recibir nuestra asesoría o ve directo al formulario.
      .buttons
        a.btn(href='#formulario') IR AL FORMULARIO
    .col-2
      .img
  .section(class='s2')
    .col-2
      .img
    .col-2
      .text
        h4 PRIMERO
        h3 REPORTA
        h3.slim TU CASO
        .paragraph
          p Completa el formulario que se encuentra al final de estas instrucciones. Es importante que tu reporte no sea anónimo y que envíes toda la información necesaria. Recuerda que Transparencia por Colombia no te representa legalmente, ni contamos con competencias legales para investigar o sancionar tu caso de presunta corrupción. 
  .section(class='s3')
    .col-2(class='final')
      .img
    .col-2
      .text
        h4 SEGUNDO
        h3 ESTUDIAMOS
        h3.slim Y TE ORIENTAMOS
        .paragraph
          p Nuestro equipo estudiará tu caso y se comunicará contigo en un plazo de 15 días. Si se trata de un caso de presunta corrupción, iniciaremos asesoría legal. En caso contrario, te orientaremos para que acudas a la autoridad encargada de proteger tus derechos. 
    .col-2(class='initial')
      .img
  .section(class='s4')
    .col-2
      .img
    .col-2
      .text
        h4 TERCERO
        h3 SOLICITAMOS
        h3.slim MÁS INFORMACIÓN
        .paragraph
          p Para definir una estrategia legal adecuada, ALAC te solicitará más información acerca del caso. Cuando la envíes, ALAC la analizará, elaborará la estrategia legal de tu caso y se mantendrá en contacto contigo.
  .section(class='s5')
    .col-2(class='final')
      .img
    .col-2
      .text
        h4 CUARTO
        h3 PRESENTA
        h3.slim TU DENUNCIA
        .paragraph
          p Si estás de acuerdo con nuestra asesoría, puedes presentar la denuncia ante la autoridad competente. Recuerda mantenernos informados de tu decisión. 
    .col-2(class='initial')
      .img
  .section(class='s6')
    .col-2
      .img
    .col-2
      .text
        h4 QUINTO
        h3 HACEMOS
        h3 SEGUIMIENTO
        h3.slim A TU DENUNCIA
        .paragraph
          p Nuestro equipo le hará seguimiento a tu denuncia. Ten presente informarnos sobre tu denuncia para poder hacer este seguimiento.
  .section(class='s7' id='formulario')
    .col-1
      .text
        h3.slim PARA EMPEZAR, LLENA ESTE
        h3 FORMULARIO
  .frame
    iframe(src='http://50.31.146.35/~wwwmonit/monitorCorrupcion/publico/denuncia.php', frameborder="0", style="min-height: 1000px")

block js
  script(src="/js/denuncia.js")
