extends ../layouts/default

block css
  link(rel='stylesheet', href='/styles/default.css')
  link(rel='stylesheet', href='/styles/denuncia.css')

block content
  iframe(src='http://50.31.146.35/~wwwmonit/monitorCorrupcion/publico/denuncia.php', frameborder="0", width="100%", style="min-height: 1000px")

block js
  script(src="/js/denuncia.js")
