extends ../layouts/default
include ../blocks/subnav

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/descargas.css')

block content
  +subnav
  .section(class='s1')
    .col-2(class='img')
    .col-2
      .text
        h3.s DESCARGA
        h3.slim DE DATOS
        .paragraph
          p Los datos recopilados se encuentran a disposición de la ciudadanía, para que de estos puedan surgir análisis diversos que mejoren la comprensión del problema de corrupción en Colombia.
    .col-1(class='img')
      .text
        h3.s DESCARGA DE DATOS
        .paragraph
          p Los datos recopilados se encuentran a disposición de la ciudadanía, para que de estos puedan surgir análisis diversos que mejoren la comprensión del problema de corrupción en Colombia.
  .section(class='divider', id='divider_descargas')
  .section(class='s2')
    .cards
      .card
        .text
          h4 Hechos de corrupción en Colombia
          h5 Descripción
          .paragraph
            p Hechos reportados por fuentes de prensa nacionales y regionales entre enero 1 de 2016 a julio 31 de 2018.
          h5 Realizador
          .paragraph
            p Transparencia por Colombia
          h5 Fecha de creación
          .paragraph
            p Agosto de 2018
          h5 Fecha de actualización
          .paragraph
            p Marzo de 2019
        .buttons
          a.btn(href='/docs/', target='_blank') Más detalles
          a.btn(class='dark', href='/docs/', target='_blank') Descargar
      .card
        .text
          h4 Notas de prensa de hechos de corrupción en Colombia
          h5 Descripción
          .paragraph
            p Notas de prensa de hechos de corrupción en Colombia reportados por medios de comunicación nacionales y regionales entre enero 1 del 2016 y julio 31 de 2018.
          h5 Realizador
          .paragraph
            p Transparencia por Colombia
          h5 Fecha de creación
          .paragraph
            p Marzo de 2018
          h5 Fecha de actualización
          .paragraph
            p Marzo de 2019
        .buttons
          a.btn(href='/docs/', target='_blank') Más detalles
          a.btn(class='dark', href='/docs/', target='_blank') Descargar
      .card
        .text
          h4 Hechos de corrupción vinculados a actores en Colombia
          h5 Descripción
          .paragraph
            p Hechos de corrupción vinculados a actores involucrados en Colombia, reportados por fuentes de prensa nacionales y regionales entre enero 1 del 2016 y julio 31 de 2018.
          h5 Realizador
          .paragraph
            p Ecoanalítica y Transparencia por Colombia
          h5 Fecha de creación
          .paragraph
            p Febrero de 2019
          h5 Fecha de actualización
          .paragraph
            p Abril de 2019
        .buttons
          a.btn(href='/docs/', target='_blank') Más detalles
          a.btn(class='dark', href='/docs/', target='_blank') Descargar
      .card
        .text
          h4 Hechos de corrupción en territorios de paz
          h5 Descripción
          .paragraph
            p Hechos de corrupción en territorios de paz reportados por fuentes de prensa nacionales y regionales entre enero 1 del 2010 y diciembre 31 de 2016.
          h5 Realizador
          .paragraph
            p Transparencia por Colombia
          h5 Fecha de creación
          .paragraph
            p Febrero de 2017
          h5 Fecha de actualización
          .paragraph
            p Septiembre de 2017
        .buttons
          a.btn(href='/docs/', target='_blank') Más detalles
          a.btn(class='dark', href='/docs/', target='_blank') Descargar
      .card
        .text
          h4 Notas de prensa de hechos de corrupción en territorios de paz
          h5 Descripción
          .paragraph
            p Notas de prensa de hechos de corrupción en territorios de paz reportados por medios de comunicación nacionales y regionales entre enero 1 del 2010 y diciembre 31 de 2016.
          h5 Realizador
          .paragraph
            p Transparencia por Colombia
          h5 Fecha de creación
          .paragraph
            p Febrero de 2017
          h5 Fecha de actualización
          .paragraph
            p Septiembre de 2017
        .buttons
          a.btn(href='/docs/', target='_blank') Más detalles
          a.btn(class='dark', href='/docs/', target='_blank') Descargar

block js
  script(src="/js/descargas.js")
