extends ../layouts/default

block content
	.section(class='s1')
		.col-2(class='text')
			h1 EL MONITOR
			h2 CIUDADANO
			h3 DE LA CORRUPCIÓN
			.paragraph
				p Es una plataforma de curaduría de información, investigación y seguimiento de la corrupción en nuestro país.
		.col-2
			.img(id='man')
	.section

block js
	script(src="/js/home.js")
	
	
