extends ../layouts/default

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/home.css')

block content
	.section(class='s1')
		.text
			h1 EL MONITOR
			h2 CIUDADANO
			h3 DE LA CORRUPCIÓN
			.paragraph
				p Es una plataforma de curaduría de información, investigación y seguimiento de la corrupción en nuestro país.
	.section(class='s2')
		.col-2(class='s')
			.img
		.col-2(class='m')
			.text
				h4 ASÍ SE MUEVE
				h3 LA CORRUPCIÓN
				h5 RADIOGRAFÍA DE HECHOS DE CORRUPCIÓN EN COLOMBIA 2016-2018
				.paragraph
					p Este nuevo informe presenta datos reveladores sobre hechos de corrupción reportados en prensa nacional y regional en Colombia entre el 1 de enero de 2016 y el 31 de julio de 2018, así como un análisis de algunos casos emblemáticos que poseen alta relevancia dentro del fenómeno de la corrupción.
			.buttons
				a.btn(href='/docs/asi_se_mueve_la_corrupcion.pdf', target='_blank') CONOCE EL INFORME
				a.btn(href='/docs/infografia_datos_informe_2016_2018.pdf', target='_blank') CONOCE LOS DATOS
	.section(class='s3')
		.col-2(class='img', id='informes')
			.text
				h3.s OTROS INFORMES
				.paragraph
					p Realizamos informes a partir de un análisis histórico y estructural, pero también una aproximación coyuntural a la corrupción.
				.buttons
					a.btn(href='/datos/informes') CONÓCELOS
		.col-2(class='img', id='visor')
			.text
				h3.s VISOR DE DATOS
				.paragraph
					p Permitimos que la ciudadanía interactúe con los datos recopilados y los explore por medio de nuestra herramienta de visualización.
				.buttons
					a.btn(href='/datos/visor') EXPLORA LOS DATOS
		.section(class='s4')
			.col-1(class='img', id='descarga')
				.text
					h3.s DESCARGA DE DATOS
					.paragraph
						p Los datos recopilados se encuentran a disposición de la ciudadanía, para que de estos puedan surgir análisis diversos que mejoren la comprensión del problema de corrupción en Colombia.
					.buttons
						a.btn(href='/datos/descargas') DESCÁRGALOS
		.section(class='divider', id='divider_home')
		.section(class='s5')
			.col-2(class='initial')
				.img
			.col-2
				.text
					h3 REPORTA LA
					h3 CORRUPCIÓN
					.paragraph
						p Queremos incentivar, acompañar y proteger la denuncia ciudadana de la corrupción e incidir a favor de cambios instituciones y legales que contribuyan a mayor sanción de este fenómeno.
				.buttons
					a.btn(href='http://transparenciacolombia.org.co/2019/01/24/como-usar-el-centro-alac/', target='_blank') VISITA ALAC
			.col-2(class='final')
				.img
				

block js
	script(src="/js/home.js")
	
	
