extends ../layouts/default
include ../blocks/subnav

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/informes.css')

block content
	+subnav
	.section(class='s1')
		.col-2(class='s')
			.img
		.col-2(class='m')
			.text
				h4 ASÍ SE MUEVE
				h3 LA CORRUPCIÓN
				h5 RADIOGRAFÍA DE HECHOS DE CORRUPCIÓN EN COLOMBIA 2016-2018
				.paragraph
					p Conoce nuestro último informe sobre la corrupción en Colombia. tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
			.buttons
				a.btn(href='/docs/Informe Preliminar Monitor Ciudadano 05042019 con propuesta de conclusión.docx', target='_blank') DESCARGA EL INFORME
				a.btn(href='/docs/Infografía de datos Informe Monitor Ciudadano 2016-2018.pdf', target='_blank') CONOCE LOS DATOS
	.section(class='divider', id='divider_informes')
	.section(class='s2')
		.text
			h4 OTROS DE NUESTROS
			h3 INFORMES
		.cards
			.card
				.text
					h4 2018
					h5 Golazo a la corrupción segundo tiempo: Iván Duque vs. Gustavo Petro
					.paragraph
						p A pocos días de la segunda vuelta presidencial Transparencia por Colombia analizó nuevamente las propuestas anticorrupción de los candidatos a la presidencia. Consulte aquí el comunicado.
				.buttons
					a.btn(href='/docs/Golazo a la corrupción Segundo Tiempo.pdf', target='_blank') Ver
					a.btn(class='dark', href='/docs/Golazo a la corrupción Segundo Tiempo.pdf', download='Golazo a la corrupción segundo tiempo - Iván Duque vs Gustavo Petro.pdf') Descargar
			.card
				.text
					h4 2018
	        h5 ¿Qué candidato le dará un verdadero golpe a la corrupción?
	        .paragraph
	          p Transparencia por Colombia hizo un análisis a las propuestas de gobierno de cinco campañas presidenciales teniendo en cuenta reformas estructurales que necesita nuestro país. Consulte aquí el comunicado.
	      .buttons
	        a.btn(href='/docs/Comunicado de Prensa - Análisis propuestas presidenciales  anticorrupción.pdf', target='_blank') Ver
	        a.btn(class='dark', href='/docs/Comunicado de Prensa - Análisis propuestas presidenciales  anticorrupción.pdf', download="¿Qué candidato le dará un verdadero golpe a la corrupción?.pdf") Descargar
	    .card
	      .text
	        h4 2018
	        h5 Propuestas programáticas anticorrupción de los candidatos a la presidencia 2018-2022 (Primera vuelta)
	        .paragraph
	          p Este cuadro comparativo recoge las propuestas que los candidatos a la presidencia de la primera vuelta presentaron en relación a cuatro temas claves para la lucha contra la corrupción: la reforma política, la reforma a la justicia, la gestión pública con énfasis en contratación y empleo públicos, y las medidas estrictamente anticorrupción.
	      .buttons
	        a.btn(href='/docs/Cuadro de propuestas Candidatos presidenciales 2018- PRIMERA VUELTA.pdf', target='_blank') Ver
	        a.btn(class='dark', href='/docs/Cuadro de propuestas Candidatos presidenciales 2018- PRIMERA VUELTA.pdf', download='Propuestas programáticas anticorrupción de los candidatos a la presidencia 2018-2022 (Primera vuelta).pdf') Descargar
	    .card
	      .text
	        h4 2017
	        h5 Corrupción en territorios de paz (enero 2010 - agosto 2016)
	        .paragraph
	          p Con base en la prensa nacional y regional, el primer informe del Monitor, “Corrupción en los territorios de paz”, describe y cuenta hechos de corrupción denunciados, ocurridos y reportados por la prensa entre los años 2010 y 2016 en los territorios de paz.
	      .buttons
	        a.btn(href='/docs/corrupcion_en_territorios_de_paz.pdf', target='_blank') Ver
	        a.btn(class='dark', href='/docs/corrupcion_en_territorios_de_paz.pdf', download='Corrupción en territorios de paz (enero 2010 - agosto 2016).pdf') Descargar

block js
  script(src="/js/informes.js")
