extends ../layouts/default
include ../blocks/subnav

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/metodologia.css')

block content
	+subnav
	.section(class='s1')
		.col-2(class='s')
			.img
		.col-2(class='m')
			.text
				h4 CONOCE NUESTRA
				h3 METODOLOGÍA
				.paragraph
					p El Monitor acopia, cuantifica, analiza y visibiliza los hechos de corrupción que registran los medios de comunicación y los órganos de control e investigación. Los datos acopiados y procesados y archivos planos quedan a disposición de líderes sociales, periodistas analistas académicos, estudiantes y cualquier ciudadano interesado en consultarlos. Si quieres conocer más sobre cómo recopilamos y organizamos estos datos, descarga nuestra ficha metodológica.
			.buttons
				a.btn(href='/docs/ficha_metodologica_23042019.pdf', download='ficha_metodologica_23042019.pdf') DESCÁRGALA

block js
	script(src="/js/metodologia.js")
