extends ../layouts/default

block content
  .section(class='divider', id='divider_home')
  .section(class='s1')
    .col-2(class='initial')
      .img
    .col-2
      .text
        h3 REPORTA LA
        h3 CORRUPCIÓN
        .paragraph
          p Queremos incentivar, acompañar y proteger la denuncia ciudadana de la corrupción e incidir a favor de cambios instituciones y legales que contribuyan a mayor sanción de este fenómeno.
      .buttons
        a.btn(href='') VISITA ALAC
    .col-2(class='final')
      .img
    .section(class='s2')
      .col-2
        .text
          h3 CONTÁCTANOS
          h5 Correo electrónico
          h4 monitorciudadano@transparenciacolombia.org
          h5 Teléfono
          h4 (+57 1) 610 08 82
          h5 Dirección
          h4 Carrera 45A # 93-61 Barrio La Castellana
          h4 Bogotá, Colombia
      .col-2
        .img
    .section(class='s3')
      .col-2(class='final')
        .img
      .col-2
        .text
          h4 CONOCE
          h3 ELECCIONES
          h3.slim Y CONTRATOS
          .paragraph
            p Esta es una solución tecnológica que permite conocer datos acerca de los candidatos a cargos de elección popular y sus financiadores. Aporta al control social y facilita la realización de cruces de información entre datos oficiales de Cuentas Claras y SECOP. 
          .buttons
            a.btn(href='') CONOCE LOS DATOS
      .col-2(class='initial')
        .img
    .section(class='s4')
      .col-2(class='initial')
        .img
      .col-2
        .text
          h4 CONOCE EL
          h3 CORRUPTOUR
          .paragraph
            p Este es un recorrido por los lugares más emblemáticos de la corrupción. En éste se aborda el tema de la corrupción de una manera sencilla y con humor. Durante el recorrido, cualquier ciudadano interesado puede visualizar y entender mejor las repercusiones de este fenómeno. 
          .buttons
            a.btn(href='') CONÓCELO
      .col-2(class='final')
        .img

block js
  script(src="/js/participa.js")
