extends ../layouts/default
include ../blocks/subnav

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/visor.css')

block content
	+subnav
	iframe(src='https://randommonkey.shinyapps.io/app_monitor/')

block js
	script(src="/js/visor.js")
