.selector-contratos {
  background-color: #0a446b;
  min-height: 50px;
  display: block;
  text-align: center;
  color: #FFF;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 50px 0px;
}

.selector-contratos .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

.selector-contratos .buttons button {
  border-style: none;
  border-radius: 2px;
  color: #FFF;
  margin: 10px;
  padding: 10px 15px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 120px;
}

#btn-campanas {
  background-color: #137fc0;
}

#btn-partidos {
  background-color: #0F669B;
}

iframe.app {
  display: block;
  width: 100%;
  min-height: 1800px;
}

iframe.app.hidden {
  display: none;
}
