.section {
  font-family: 'Raleway', sans-serif;
}

.s1 {
  background-color: #fa8223;
  color: #fff;
  background-image: url('/images/home_1.png');
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.col-2.text {
  /* padding-left: 17%; */
  line-height: 1.2;
}

.s1 h1 {
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 0.05em;
  padding-top: 150px;
  padding-left: 16%;
}

.s1 h2 {
  font-weight: 400;
  font-size: 62px;
  letter-spacing: 0.07em;
  padding-left: 16%;
}

.s1 h3 {
  font-weight: 800;
  font-size: 37px;
  letter-spacing: 0.07em;
  padding-left: 16%;
}

.s1 .paragraph p {
  padding-top: 20px;
  width: 390px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.07em;
  color: #e32e04;
  text-align: center;
  margin-left: 16%;
}

@media screen and (max-width: 1230px) {

  .s1 {
    height: 500px;
  }

  .s1 h1, .s1 h2, .s1 h3{
    padding-left: 20%;
  }

  .s1 h1 {
    font-size: 55px;
    padding-top: 120px;
  }

  .s1 h2 {
    font-size: 56px;
  }

  .s1 h3 {
    font-size: 33px;
    letter-spacing: 0.08em;
  }

  .s1 .paragraph p {
    margin-left: 21%;
    font-size: 17px;
    width: 340px;
  }

}

@media screen and (max-width: 1180px) {

  .s1 {
    height: 500px;
  }

  .s1 h1, .s1 h2, .s1 h3{
    padding-left: 16%;
  }

  .s1 .paragraph p {
    margin-left: 16%;
  }

}

@media screen and (max-width: 1024px) {

  .s1 {
    height: 450px;
  }

  .s1 h1, .s1 h2, .s1 h3{
    padding-left: 13%
  }

  .s1 h1 {
    font-size: 50px;
    padding-top: 120px;
  }

  .s1 h2 {
    font-size: 51px;
  }

  .s1 h3 {
    font-size: 30px;
    letter-spacing: 0.08em;
  }

  .s1 .paragraph p {
    margin-left: 13%;
    font-size: 15px;
    width: 330px;
  }

}
