.s2 {
  background-color: #fdb731;
  color: #e85a1e;
}

.s2 .col-2 .img {
  background-image: url('/images/home_2.png');
}

.s2 .btn {
  color: #fff;
  background-color: #e85a1e;
}

.s3 {
  color: #fff;
}

.s3 #informes {
  background-color: #0a446b;
  background-image: url('/images/home_3.png');
  background-position: left;
}

.s3 #visor {
  background-color: #137fc0;
  background-image: url('/images/home_4.png');
  background-position: right;
}

.s3 .btn {
  background-color: #fff;
}

.s3 #informes .btn {
  color: #0a446b;
}

.s3 #visor .btn {
  color: #137fc0;
}

.s4 {
  background-color: #c250c2;
  color: #fff;
}

.s4 .col-1.img {
  background-image: url('/images/home_5.png');
  background-position: center;
}

.s4 .btn {
  color: #c250c2;
}

.s5 {
  background-color: #fff;
  color: #f75d21;
}

.s5 .col-2 .img {
  background-image: url('/images/home_6.png');
  background-position: bottom;
  height: 400px;
}

.s5 .btn {
  color: #fff;
  background-color: #f75d21;
}

#divider_home {
  background-image: url('/images/divider.png');
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 50px;
  margin-top: -3px;
}

.s5 .col-2 .text h3:first-child {
  font-weight: 400;
}

.s5 .final {
  display: none;
}

@media screen and (max-width: 930px) {

  .s5 .col-2 .img {
    height: 300px;
  }

}

@media screen and (max-width: 899px) {

  .s5 .initial {
    display: none;
  }

  .s5 .final {
    display: block;
  }

}

@media screen and (max-width: 440px) {

  .s5 .col-2 .img {
    height: 200px;
  }

}
