.s3 {
  color: #fff;
}

.s3 #informes {
  background-color: #0a446b;
  background-image: url('/images/home_3.png');
  background-position: left;
}

.s3 #visor {
  background-color: #137fc0;
  background-image: url('/images/home_4.png');
  background-position: right;
}

.s3 .btn {
  background-color: #fff;
}

.s3 #informes .btn {
  color: #0a446b;
}

.s3 #visor .btn {
  color: #137fc0;
}
