mixin footer_eyc
  .footer_eyc-wrapper(style="background-color: #e9ecf0; font-family: Raleway")
    p.footer_eyc-disclaimer
      | La información acá recogida por Transparencia por Colombia y Datasketch, fue obtenida y relacionada desde fuentes de datos abiertos oficiales del Estado colombiano, el tratamiento realizado sobre estos datos se documenta en la metodología del proyecto y sus fuentes originales están determinadas por sus propios términos de uso, tanto para la plataforma de Cuentas Claras del 
      a(href="https://www.cnecuentasclaras.gov.co/reglamentacion.php" target="_blank") CNE 
      | como para las plataformas 
      a(href="https://www.contratos.gov.co/puc/terminosUso.html" target="_blank") SECOP I 
      | y 
      a(href="https://community.secop.gov.co/Public/Administration/TermsOfUseVersionDisplay/Public?LatestUserTermsOfUse=true&SkinName=CCE&currentLanguage=es" target="_blank") SECOP II.
      | Si encuentra un error en la información y desea reportarla para su aclaración, modificación o eliminación, diríjase al Consejo Nacional Electoral - 
      a(href="mailto:atencionalciudadano@cne.gov.co") atencionalciudadano@cne.gov.co
      | , si corresponde a información  sobre la financiación de campañas, o a la Agencia Nacional de Contratación Pública - Colombia Compra Eficiente, si se trata de información sobre la contratación estatal.
    p.footer_eyc-disclaimer(style="text-align: center; font-weight: bold;") La primera versión de Elecciones y Contratos se adelantó en el año 2018 en el marco de la iniciativa del Laboratorio de Innovación del Ministerio de las Tecnologías del Gobierno de Colombia, con el apoyo de PNUD, en su desarrollo se involucraron la Corporación Somos Más, junto a Transparencia por Colombia y Datasketch.
    .footer_eyc
      .col
        .logo(id='somosmas')
      .col
        .logo(id='cipd')
      .s-col
        .logo(id='gc')
      .col
        .logo(id='mintic')
      .col
        .logo(id='pnud')
      .s-col
        .logo(id='undesa')
