mixin footer
  .footer
    .col
      .logo(id='transparencia')
    .col
      .logo(id='monitor')
    .s-col
      .logo(id='datasketch')
    .col(class='fph')
      .logo(id='fph')
    .s-col
      .logo(id='luminate')
    .m-col(class='vertical_container')
      .col(id='social', class='row')
        p Síguenos en nuestras redes
        a.soclink(href='https://twitter.com/transparenciaco', id='icon_twitter_w', target="_blank")
        a.soclink(href='mailto:monitorciudadano@transparenciacolombia.org', id='icon_mail_w')
        a.soclink(href='https://www.facebook.com/transparenciaporcolombia/', id='icon_facebook_w', target="_blank")
    .m-col(class='copyright')
      .col
        p Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reúsas o adaptas recursos de esta página por favor vincúlalos y referéncialos.
        .icons
          .ccicon(id='by')
          .ccicon(id='cc')
          .ccicon(id='sa')
