mixin footer
  .footer
    .col
      .logo(id='transparencia')
    .col
      .logo(id='monitor')
    .col
      .logo(id='datasketch')
    .col(class='vertical_container')
      .row(class='fph')
        .logo(id='fph')
      .row(class='fph')
        p Este proyecto es creado y gestionado por Transparencia por Colombia, con el apoyo de la Fondation Charles Léopold Mayer pour les progrès del l'Homme - FPH.
    .col(id='social')
