mixin footer_eyc
  .footer_eyc-wrapper(style="background-color: #e9ecf0; font-family: Raleway")
    .footer_eyc
      .col
        .logo(id='somosmas')
      .col
        .logo(id='cipd')
      .s-col
        .logo(id='gc')
      .col
        .logo(id='mintic')
      .col
        .logo(id='pnud')
      .s-col
        .logo(id='undesa')
    p.footer_eyc-disclaimer
      | Transparencia por Colombia y Datasketch, así como las entidades participantes en este proyecto no se responsabilizan por la completitud, veracidad y exactitud de la información, ya que esta es obtenida y relacionada desde fuentes de datos abiertos oficiales del estado colombiano, el tratamiento realizado sobre estos datos se documenta en la metodología del proyecto y sus fuentes originales están determinadas por sus propios términos de uso, tanto para el 
      a(href="https://www.cnecuentasclaras.gov.co/reglamentacion.php" target="_blank") CNE 
      | como para Colombia Compra Eficente - 
      a(href="https://www.contratos.gov.co/puc/terminosUso.html" target="_blank") SECOP I 
      | y 
      a(href="https://community.secop.gov.co/Public/Administration/TermsOfUseVersionDisplay/Public?LatestUserTermsOfUse=true&SkinName=CCE&currentLanguage=es" target="_blank") SECOP II.
      | Si encuentra un error en la información y desea reportarla para su aclaración, modificación o eliminación, determine si corresponde a temas de financiación de campañas y diríjase al Consejo Nacional Electoral - 
      a(href="mailto:atencionalciudadano@cne.gov.co") atencionalciudadano@cne.gov.co
      | , si corresponde a contratación estatal, dirija su petición a la Agencia Nacional de Contratación Pública -Colombia Compra Eficiente. Cada una de ellas determinará la instancia  asignada para evaluar y efectuar las modificaciones solicitadas.
