mixin footer_eyc
  .footer_eyc
    .col
      .logo(id='somosmas')
    .col
      .logo(id='cipd')
    .s-col
      .logo(id='gc')
    .col
      .logo(id='mintic')
    .col
      .logo(id='pnud')
    .s-col
      .logo(id='undesa')
