mixin footer
  .footer
    .col
      .logo(id='transparencia')
    .col
      .logo(id='monitor')
    .s-col
      .logo(id='datasketch')
    .m-col(class='vertical_container')
      .row(class='fph')
        .logo(id='fph')
      .row(class='fph')
        p Este proyecto es creado y gestionado por Transparencia por Colombia, con el apoyo de la Fondation Charles Léopold Mayer pour les progrès del l'Homme - FPH.
    .m-col(class='vertical_container')
      .col(id='social', class='row fph')
        p Síguenos en nuestras redes
        a.soclink(href='https://twitter.com/transparenciaco', id='icon_twitter_w', target="_blank")
        a.soclink(href='mailto:monitorciudadano@transparenciacolombia.org', id='icon_mail_w')
        a.soclink(href='https://www.facebook.com/transparenciaporcolombia/', id='icon_facebook_w', target="_blank")
      .row(class='fph')
        p Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reusas o adaptas recursos de esta página por favor vincúlalos y referéncialos.
