mixin social
  div.socialnav
    a.soclink(href='https://twitter.com/transparenciaco', id='icon_twitter', target="_blank")
    a.soclink(href='mailto:monitorciudadano@transparenciacolombia.org', id='icon_mail')
    a.soclink(href='https://www.facebook.com/transparenciaporcolombia/', id='icon_facebook', target="_blank")

mixin nav
  div.navmenu
    .navlink(class=(section === 'about' ? 'active' : ''))
      a(href='/about') EL MONITOR
    .navlink(class=(section === 'datos' ? 'active' : ''))
      a(href='/datos') DATOS
    .navlink(class=(section === 'participa' ? 'active' : ''))
      a(href='/participa') PARTICIPA

mixin header
  header.header
    nav.headernav(id='navMenu')
      a(href='/')
        .navitem(class='logo_monitor')
      div.navitem(class='topnav', id='menuContainer')
        +nav
        +social
      a.navitem(id='hamburger' href='javascript:void(0);', onclick="function dropdownMenu() {var x = document.getElementById('navMenu');if (x.className === 'headernav') {x.className += ' responsive';} else {x.className = 'headernav';}} dropdownMenu();")

      
