mixin subnav
  .subnav
    .items
      a.item(href='/datos/visor', class=(subsection === 'visor' ? 'active' : '')) Visor de datos
      a.item(href='/datos/informes', class=(subsection === 'informes' ? 'active' : '')) Informes
      a.item(href='/datos/descargas', class=(subsection === 'descargas' ? 'active' : '')) Descargas
      a.item(href='/datos/metodologia', class=(subsection === 'metodologia' ? 'active' : '')) Metodología
