mixin subnav
  .subnav
    .items
      if (section === 'hechos-corrupcion')
        .item(class=(subsection === 'visor' ? 'active' : ''))
          a.link(href='/hechos-corrupcion/visor') Visor de datos
        .item(class=(subsection === 'informes' ? 'active' : ''))
          a.link(href='/hechos-corrupcion/informes') Informes
        .item(class=(subsection === 'descargas' ? 'active' : ''))
          a.link(href='/hechos-corrupcion/descargas') Descargas
        .item(class=(subsection === 'metodologia' ? 'active' : ''))
          a.link(href='/hechos-corrupcion/metodologia') Metodología
      else if (section === 'elecciones-contratos')
        .item(class=(subsection === 'historias' ? 'active' : ''))
          a.link(href='/elecciones-contratos') Destacados
        .item(class=(subsection === 'campanas' ? 'active' : ''))
          a.link(href='/elecciones-contratos/campanas') Financiación de campañas
        .item(class=(subsection === 'partidos' ? 'active' : ''))
          a.link(href='/elecciones-contratos/partidos') Financiación de partidos
        .item(class=(subsection === 'contratos' ? 'active' : ''))
          a.link(href='/elecciones-contratos/contratos') Contratos de financiadores
        .item(class=(subsection === 'descargas' ? 'active' : ''))
          a.link(href='/elecciones-contratos/descargas') Descargas
