.footer {
  width: 100%;
  background-color: #0a446b;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  min-height: 200px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .col {
  width: 250px;
  padding: 0px 40px;
  font-size: 10px;
  text-align: center;
}

.footer .s-col {
  width: 180px;
  padding: 0px 30px;
}

.footer .m-col {
  width: 300px;
  padding: 0px 30px;
}

.logo {
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.vertical_container {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.fph {
  font-size: 10px;
  line-height: 13px;
}

.fph:not(:first-of-type) {
  padding-bottom: 40px;
  text-align: left;
}

.footer .col .soclink {
  margin: 20px;
  margin-left: 0px;
}

#transparencia {
  background-image: url('/images/logo_transparencia.svg');
}

#monitor {
  background-image: url('/images/logo_monitor_w.svg');
}

#open_society {
  background-image: url('/images/logo_opensociety.svg');
}

#datasketch {
  background-image: url('/images/logo_datasketch.svg');
}

#fph {
  background-image: url('/images/logo_fph.svg');
  width: 100%;
}

#luminate {
  background-image: url('/images/logo_luminate.svg');
}

#social {
  padding-top: 60px;
}

#icon_twitter_w {
  background-image: url('/images/twitter_w.svg');
}

#icon_mail_w {
  background-image: url('/images/mail_w.svg');
}

#icon_facebook_w {
  background-image: url('/images/facebook_w.svg');
}
