extends ../../layouts/default
include ../../blocks/subnav
include ../../blocks/footer_eyc

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/eyc_contratos.css')

block content
	+subnav
	.selector-contratos
		h3 ¿QUÉ CONTRATOS QUIERES EXPLORAR?
		.buttons
			button(id='btn-campanas', type='button') Financiadores de campañas
			button(id='btn-partidos', type='button') Financiadores de partidos
	iframe.app(id='contratos-campanas', src='https://randommonkey.shinyapps.io/app-cruces/', frameborder="0")
	iframe.app(class='hidden', id='contratos-partidos', src='https://randommonkey.shinyapps.io/app-func-cruces/', frameborder="0")

block js
	script(src="/js/eyc_contratos.js")
