extends ../../layouts/default
include ../../blocks/subnav

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/hc_metodologia.css')

block content
	+subnav
	.section(class='s1')
		.col-2(class='s')
			.img
		.col-2(class='m')
			.text
				h4 CONOCE NUESTRA
				h3 METODOLOGÍA
				.paragraph
					p #{methodology.description}
			.buttons
				if methodology.methodology
					a.btn(href=methodology.methodology) DESCÁRGALA
				if methodology.glossary
					a.btn(href=methodology.glossary) DESCARGAR GLOSARIO

block js
	script(src="/js/hc_metodologia.js")
